<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/auth-style.css">
  <title>Laundry</title>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="site">
    <header>
      <div class="cont">
        <div class="header">
          <div class="header-logo">
            <img src="/image/13.png" style="transform: scale(0.5);">
          </div>
        </div>
      </div>
    </header>
  
  
  
    <div class="reg">
      <div class="cont">
        <div class="reg-cont">
          <div class="reg-header">
            <h1>Вход</h1>
          </div>
          <div class="reg-body">
            <form th:action="@{/authenticate}" method="post" class="reg-form">
                <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <div th:if="${param.error} != null">
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        Invalid number and password
                                    </div>
                                </div>
                                <div th:if="${param.logout} != null">
                                    <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                        You have been logged out
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              <input class="reg-input" name="username" type="text" placeholder="Введите № пропуска">
              <input class="reg-input" name="password" type="password" placeholder="Введите пароль">
              <div class="form-div">
                <button type="submit" class="btn btn-success">Login</button>
                  <a href="/registry" class="btn btn-secondary">Зарегистрироваться</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>